@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


body {
    background-color: rgb(78, 135, 199);
    user-select: none;
}



.title-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.title {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    font-size: 5rem;
    color: white;

    border-style: solid;
    border-width: 1rem;
    border-radius: 25px;
    padding: 1rem;
    border-color: orange;

    flex-shrink: 1;
    flex-wrap: wrap;
}


.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 3rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.move {
    display: flex;
    gap: 1rem;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;

    margin-bottom: 1rem;
    flex-shrink: 1;
}

.moves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.points {
    display: flex;
    gap: 1rem;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
}

.message {
    display: flex;
    gap: 1rem;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;
    margin-bottom: 0;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 25px;
    border-color: rgb(223, 191, 12);

    flex-shrink: 1;
    flex-wrap: wrap;
}

#img1 {
    height:auto;
    width: 16.5rem;
}

#img2 {
    height:auto;
    width: 10rem;
}

#img3 {
    height:auto;
    width: 6.7rem;
}


button {
    border-radius: 15px;
    background-color: rgb(0, 128, 255);
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 1000;
    font-size: 1.1rem;
    margin-top: 1rem;
    box-shadow: 0 3px #999;
}

button:hover {
    background-color: rgb(205, 169, 50);
    color: red;
}

button:active {
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    display: none;
}